example_scroll_workflow_n8n.json
{"name":"Example Scroll Workflow","nodes":[{"id":"autoflow_0","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[100,100],"parameters":{}},{"id":"autoflow_1","name":"Initialize Browser","type":"n8n-nodes-base.code","typeVersion":2,"position":[100,250],"parameters":{"jsCode":"// AutoFlow Initialization\nconst { chromium } = require('playwright');\n\n// Launch browser\nconst browser = await chromium.launch({ \n  headless: false,  // Visible for debugging\n  slowMo: 1000     // Slow down for reliability\n});\n\nconst page = await browser.newPage();\n\n// Set viewport\nawait page.setViewportSize({ width: 1920, height: 1080 });\n\n// Navigate to starting URL\nawait page.goto('https://example.com');\n\n// Wait for page load\nawait page.waitForLoadState('networkidle');\n\nreturn {\n  browser: browser,\n  page: page,\n  success: true,\n  message: 'Browser initialized successfully'\n};"},"onError":"stopWorkflow","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"id":"autoflow_2","name":"Scroll: Scrolled to 25% of page (0, 500)","type":"n8n-nodes-base.code","typeVersion":2,"position":[100,400],"parameters":{"jsCode":"// AutoFlow Scroll Action\nconst page = $input.first().page;\n\ntry {\n  // Scroll to position\n  await page.evaluate(({ x, y }) => {\n    window.scrollTo(x, y);\n  }, { x: 0, y: 500 });\n  \n  // Wait for scroll to complete\n  await page.waitForTimeout(500);\n  \n  return {\n    success: true,\n    action: 'scroll',\n    position: { x: 0, y: 500 },\n    stepId: 'scroll-step-1',\n    timestamp: new Date().toISOString()\n  };\n  \n} catch (error) {\n  console.error('Scroll failed:', error);\n  throw new Error(`Scroll failed: ${error.message}`);\n}"},"onError":"continueRegularOutput","retryOnFail":false},{"id":"autoflow_3","name":"Complete Workflow","type":"n8n-nodes-base.code","typeVersion":2,"position":[100,550],"parameters":{"jsCode":"// AutoFlow Completion\nconst browser = $input.first().browser;\n\ntry {\n  // Close browser\n  if (browser) {\n    await browser.close();\n  }\n  \n  return {\n    success: true,\n    message: 'Workflow completed successfully',\n    completedAt: new Date().toISOString()\n  };\n  \n} catch (error) {\n  console.error('Cleanup failed:', error);\n  return {\n    success: false,\n    error: error.message,\n    completedAt: new Date().toISOString()\n  };\n}"},"onError":"continueRegularOutput"}],"connections":{"Manual Trigger":{"main":[{"node":"Initialize Browser","type":"main","index":0}]},"Initialize Browser":{"main":[{"node":"Scroll: Scrolled to 25% of page (0, 500)","type":"main","index":0}]},"Scroll: Scrolled to 25% of page (0, 500)":{"main":[{"node":"Complete Workflow","type":"main","index":0}]}},"active":false,"settings":{"executionOrder":"v1","saveManualExecutions":true,"saveExecutionProgress":true,"saveDataErrorExecution":"all","saveDataSuccessExecution":"all"},"tags":[],"meta":{"templateCredsSetupCompleted":false,"instanceId":"workflow_1755365717546_p38at37oh"}}